### Conexion sql

In [3]:
import pyodbc
import getpass
import mysql.connector
import pandas as pd

nombre_usuario = getpass.getpass("ingrese su usuario: ")
clave = getpass.getpass("ingresa tu pass: ")
mydb = mysql.connector.connect(
host= "10.12.2.162",
user= nombre_usuario ,
passwd=clave,
database="bataxi"
)

mycursor = mydb.cursor()

### Crear el cursor

In [4]:

mycursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'bataxi'")

for table_name in mycursor:
    print(table_name)

('active_storage_attachments',)
('active_storage_blobs',)
('admin_users',)
('admin_users_roles',)
('api_clients',)
('application_settings',)
('ar_internal_metadata',)
('average_values',)
('base_notifications',)
('bills',)
('cars',)
('cars_tags',)
('cars_users',)
('claims',)
('credit_balances',)
('devices',)
('funding_account_deposits',)
('gateways',)
('health_care_centers',)
('health_care_professionals',)
('lost_object_reports',)
('messages',)
('oauth_access_grants',)
('oauth_access_tokens',)
('oauth_applications',)
('payments',)
('ratings',)
('roles',)
('schema_migrations',)
('service_sessions',)
('sessions',)
('subsidized_taxi_trips',)
('suggestions',)
('tag_categories',)
('tags',)
('tags_taxi_bookings',)
('tags_users',)
('taxi_booking_offers',)
('taxi_bookings',)
('taxi_trips',)
('tickets',)
('trip_statuses',)
('unbooked_taxi_trips',)
('user_login_records',)
('users',)
('users_notifications',)
('versions',)
('vista_active_storage_attachments',)
('vista_application_settings',)
('vista_ar_internal_metadata',)
('vista_bills',)
('vista_cars',)
('vista_claims',)
('vista_gateways',)
('vista_health_care_center',)
('vista_lost_object_reports',)
('vista_messages',)
('vista_oauth_access_tokens',)
('vista_oauth_applications',)
('vista_payments',)
('vista_ratings',)
('vista_service_sessions',)
('vista_sessions',)
('vista_suggestions',)
('vista_tags',)
('vista_tags_taxi_booking',)
('vista_taxi_booking_offers',)
('vista_taxi_bookings',)
('vista_taxi_trips',)
('vista_trip_statuses',)
('vista_unbooked_taxi_trips',)
('vista_user',)
('vista_user_login_records',)

### listar total de registros de cada tabla

In [8]:
mycursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'bataxi'")
tables = mycursor.fetchall()

data = []

for table in tables:
    table_name = table[0]
    try:
        mycursor.execute(f"SELECT COUNT(*) FROM {table_name};")
        count = mycursor.fetchone()[0]
        data.append([table_name, count])
        print(f"{table_name} tiene {count} registros.")
    except mysql.connector.errors.ProgrammingError:
        data.append([table_name, "No se pueden ver los registros debido a permisos insuficientes."])
    
resultados = pd.DataFrame(data, columns=["Tabla", "Registros"])

vista_active_storage_attachments tiene 14968 registros.
vista_application_settings tiene 1 registros.
vista_ar_internal_metadata tiene 1 registros.
vista_bills tiene 2259581 registros.
vista_cars tiene 19266 registros.
vista_claims tiene 6623 registros.
vista_gateways tiene 41 registros.
vista_health_care_center tiene 119 registros.
vista_lost_object_reports tiene 3109 registros.
vista_messages tiene 3879548 registros.
vista_oauth_access_tokens tiene 1464099 registros.
vista_oauth_applications tiene 0 registros.
vista_payments tiene 2259574 registros.
vista_ratings tiene 275078 registros.
vista_service_sessions tiene 5436642 registros.
vista_sessions tiene 19 registros.
vista_suggestions tiene 42062 registros.
vista_tags tiene 7 registros.
vista_tags_taxi_booking tiene 183021 registros.
vista_taxi_booking_offers tiene 17601378 registros.
vista_taxi_bookings tiene 4301732 registros.
vista_taxi_trips tiene 3151352 registros.
vista_trip_statuses tiene 13010509 registros.
vista_unbooked_taxi_trips tiene 1 registros.
vista_user tiene 1 registros.
vista_user_login_records tiene 8624756 registros.

### Tablas  a DataFrame

In [10]:
resultados.to_csv(r"C:\Users\23336058929\Desktop\PROYECTOS\AUTOMATIZACION\bataxi.csv", encoding='utf-8', index=False)

In [1]:
ing_query = input("ingresa la query: ")
print(ing_query)

SELECT * FROM bataxi.vista_bills

In [11]:
vista2 = pd.read_sql('SELECT * FROM bataxi.vista_bills', con=mydb)

C:\Users\23336058929\AppData\Local\Temp\ipykernel_12944\3654172806.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vista2 = pd.read_sql('SELECT * FROM bataxi.vista_bills', con=mydb)

InternalError: Unread result found